* {
  padding: 0;
  margin: 0;
}
.header {
 min-height: 80vh;
 font-family: 'Roboto', sans-serif;
 display: flex;
 align-items: center;
 background: url('https://sejadev-web-app-public-files.s3.amazonaws.com/courses/coffee1.jpg');
 background-position: center;
 background-position: no-repeat;
 background-position: cover;
}

.headerContent {
  padding-left: 60px;
}